*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.024);
    overflow-x: hidden;
}
.title{
    font-family: WaterBrush;
    font-size: 30px;
}
.logo{
    width: 40px;
}
.header{
    background-color: white;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 47px;
}
.left{
    background-color: none;
    width: 300px;
    float: left;
}
.right{
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.432);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}
.uid{
    font-family: sans-serif;
    color: black;
    font-size: 20px;
}
.categories{
    background-color: white;
    position: fixed;
    width: 100%;
    overflow-x: auto;
    padding: 10px 20px 10px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.109);
    display: flex;
}
.selection{
    font-family: sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.432);
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, 0.432);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    margin-right: 30px;
}
.selected{
    font-family: sans-serif;
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, 0.432);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    margin-right: 30px;
}
/* trending */
.trending{
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border: dashed 1px rgba(0, 0, 0, 0.349);
    border-radius: 25px;
}
.trendingtxt{
    font-family: sans-serif;
    color: black;
    font-size: 25px;
    margin-left: 30px;
}
.trendingleft{
    display: flex;
    background-color: none ;
    justify-content: space-between;
    padding: 30px;
    width: 94%;
}
.trendingright{
    display: flex;
    background-color: none;
    justify-content: space-between;
    padding: 30px;
    width: 94%;
}
.bookcover{
    width: 169px;
    border-radius: 8px;
    cursor: pointer;
}
.bookname{
    font-family: Caveat-Bold;
    font-size: 19px;
    color: white;
}
.bookauther{
    font-family: Caveat-VariableFont_wght;
    color: white;
}

/* Pretty high to be doing this */
.rightcontent{
    float: right;
    width: 79%;
    background-color: none;
}
.leftcontent{
    width: 21%;
    height: 100%;
    position: fixed;
    background-color: white;
    /* border-right: 1px solid rgba(0, 0, 0, 0.109); */
}
.profilepic{
    width: 70px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 3px;
    border-radius: 69px;
}
.tabs{
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: center;
}
.tabscentered{
    width: 81%;
}
.tablinks{
    font-family: sans-serif;
    padding-left: 25px;
}
.links{
    display: flex;
    background-color: none;
    width: 100%;
}
.librarybtn{
    font-family: sans-serif;
    color: white;
    background-color: black;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.432);
    padding: 13px 65px 13px 65px;
    width: 100%;
    border-radius: 20px;
    margin-right: 30px;
}

/* it's at 00:53 */
.content{
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
}
.trendingnotification{
    /* background-color: #EBCCB7; */
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.trendingtext{
    float: left;
    margin-right: 100px;
}
.trendimg{
    width: 250px;
    margin-left: 100px;
    float: right;
}
.top{
    font-size: 65px;
    font-family: HammersmithOne-Regular;
}
.middle{
    font-size: 35px;
    font-family: ElMessiri-VariableFont_wght;
}
.bottom{
    font-family: sans-serif;
    color: white;
    background-color: black;
    font-size: 15px;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.432);
    padding: 10px 30px 10px 30px;
    width: 100%;
    border-radius: 20px;
    margin-right: 30px;
}

/* It's at 01:57 */
.categorytxt{
    font-family: ElMessiri-VariableFont_wght;
    font-size: 30px;
}
.viewall{
    font-family: sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: black;
    border-radius: 4px;
    padding: 8px 15px 8px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.058);
}
.viewall:hover{
    color: white;
    background-color: black;
}
.categorytitle{
    display: flex;
    justify-content: space-between;
    background-color: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.195);
}
.catgeorycontentcontainer{
    display: flex;
    background-color: none ;
    justify-content: space-between;
    padding: 30px 0px 69px 0px;
    width: 100%;
}