*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: WaterBrush;
    src: url(../Fonts/WaterBrush-Regular.ttf);
}
@font-face {
    font-family: OleoScript-Bold;
    src: url(../Fonts/OleoScript-Bold.ttf);
}
@font-face {
    font-family: OleoScript-Regular;
    src: url(.../Fonts/OleoScript-Regular.tff);
}

@font-face {
    font-family: Caveat-Bold;
    src: url(../Fonts/Caveat-Bold.ttf);
}
@font-face {
    font-family: Caveat-Medium;
    src: url(../Fonts/Caveat-Medium.ttf);
}
@font-face {
    font-family: Caveat-Regular;
    src: url(../Fonts/Caveat-Regular.ttf);
}
@font-face {
    font-family: Caveat-SemiBold;
    src: url(../Fonts/Caveat-SemiBold.ttf);
}
@font-face {
    font-family: Caveat-VariableFont_wght;
    src: url(../Fonts/Caveat-VariableFont_wght.ttf);
}
body {
    background-image:url("../img/grunge-vintage-old-paper-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.body{
    margin: 69px;
    margin-left: 100px;
}
html {
    height: 100%
}
.title{
    font-family: WaterBrush;
    font-size: 60px;
}
.pronounciation{
    color: rgba(0, 0, 0, 0.452);
    font-size: 18px;
}
.content{
    color: black;
    font-family: Caveat-Regular;
    font-size: 35px;
    width: 50%;
}
.logo{
    width: 40px;
    float: left;
}
.login{
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.signup{
    float: right;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0)),  url(../img/William\ Shakespear.jpg);
    padding: 30px;
    margin-right: 150px;
    margin-top: 30px;
    border-radius: 30px;
    display: visible;
}
.signuphidden{
    display: none;
}
.signuptxt{
    font-family: sans-serif; 
    font-size: 23px;   
}
.submitbtn{
    background-color: black;
    color: white;
    font-family: sans-serif;
    border-radius: 30px;
    padding: 16px 102px 16px 102px;
    text-decoration: none;
}
.submitbtn:hover{
    transition-duration: 0.5s;
    background-color: white;
    cursor: pointer;
    color: black;
}
.login:hover{
    text-decoration: underline;
    cursor: pointer;
}
#input{
    width: 255px;
    height: 40px;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.356);
    padding-left: 12px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.37);
    
}
.category{
    width: 265px;
    height: 40px;
    border-radius: 8px;
    border: 0px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgba(255, 255, 255, 0.37);
}
::placeholder{
    color: black;
}

/* Login form */
.logindiv{
    float: right;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0)),  url(../img/William\ Shakespear.jpg);
    padding: 30px;
    margin-right: 150px;
    margin-top: 30px;
    border-radius: 30px;
    display: visible;
}
.logindivhidden{
    display: none;
}
.loginbtn{
    background-color: black;
    color: white;
    font-family: sans-serif;
    border-radius: 30px;
    padding: 16px 113px 16px 113px;
    text-decoration: none;
}
.loginbtn:hover{
    transition-duration: 0.5s;
    background-color: white;
    cursor: pointer;
    color: black;
}
.error{
    color: white;
    font-family: sans-serif;
    background-color: rgb(255, 86, 86);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 40%;
    z-index: 10px;
    font-size: 14px;
    position: absolute;
    border-radius: 5px;
    width: 240px;
    padding: 15px 15px 15px 45px;
    display: visible;
}
.errorhidden{
    display: none;
}
.close{
    float: right;
    cursor: pointer;
}
  